html {
  background-color: rgb(104, 104, 104);
}

body {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

#board{
  height: 60vh;
  width: 70vw;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}

#timer {
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem 2rem;
  padding: 0;
  width: 15rem;
  font-size: 3rem;
}

.board-element {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(231, 13, 13);
}