html {
  background-color: rgb(104, 104, 104);
}

body {
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

body h1 {
  margin: 0.5rem auto;
  padding: 0;
  height: 3rem;
  width: 20rem;
  text-align: center;
}

#board{
  height: 60vh;
  width: 70vw;
  border: 1px solid rgb(0, 0, 0);
  margin: 0.5rem auto;
  padding: 0;
  background-color: white;
  position: relative;
}

#timer {
  background-color: white;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem auto;
  padding: 0;
  width: 15rem;
  font-size: 3rem;
}

.target {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(231, 13, 13);
  position: absolute;
  margin: 0;
  transition: top 1s ease-in-out, left 1s ease-in-out;
}

.target:hover{
  background-color: rgb(255, 145, 0);
  cursor: pointer;
}

#score-board{
  background-color: rgb(255, 145, 0);
  margin: 0.5rem auto;
  width: 10rem;
  height: 4rem;
  font-size: 3rem;
  border-radius: 5px;
  text-align: center;
}

#hard {
  background-color: rgb(231, 13, 13);
  color: white;
  margin: 0.5rem auto;
  width: 10rem;
  height: 4rem;
  font-size: 3rem;
  border-radius: 5px;
  text-align: center;
}

#start {
  text-align: center;
  margin: 0.5rem auto;
  background-color: rgb(32, 89, 245);
  color: white;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 1rem;
  width: 5rem;
  height: 5rem;
  position: relative;
  display: block;
}

#player-score, #player-lives {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#lives {
  background-color: rgb(64, 241, 20);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  width: 10rem;
  height: 4rem;
  font-size: 3rem;
  margin: 0.1rem auto;
  text-align: center;
  border-radius: 5px;

}

label {
  color: white;
  margin: 0.1rem auto;
}

#easy-mode {
  background-color: rgb(64, 241, 20);
  color: rgb(0, 0, 0);
}

#hard-mode{
  background-color: rgb(231, 13, 13);
  color: white;
}