html {
  background-color: rgb(104, 104, 104);
}

body {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

#board{
  height: 60vh;
  width: 70vw;
  border: 1px solid rgb(0, 0, 0);
  background-color: white;
}